{% extends "books/base.html" %} 

{% block content_article %}
<div class="col-md-12">
    <div class="main-block-info">
        <h1 class="header-site"><a href="">List books</a></h1> {% if user.is_authenticated %}
        <a href="{% url 'add_books' %}" class="create-book btn btn-default">Create new book</a> {% endif %}
    </div>
    </div>
    <div class="content-article ">


		{% if books|length > 0 %}
	        {% for book in books %} 
		        <div class="col-md-4">
			        <article>
			            <div class="post-header clearfix">
			                <h4 class="article-header">{{ book.name }}</h4> 
			                {% if book.genresbooks %}
				                <ul class="list-categoies">
				                    {% for genresbook in book.genresbooks.all %}
				                    	<li>{{ genresbook }}</li>
				                    {% endfor %}
				                </ul>
			                {% endif %}
			            </div>
			            {% if book.image %}
			            	<img src="{{ MEDIA_URL }}{{ book.image }}" alt="thumb-1"> 
		            	{% endif %} 
		            	{% if book.description %}
			            	<p class="description">{{ book.description }}</p>
			            {% endif %}
			        </article>
		        </div>	
	        {% endfor %}
        {% else %}
        	<div class="col-md-12">
				<p>There are currently no comments. You can be first!</p>
        	</div>
        {% endif %}
    </div>
</div>
{% endblock %}
