{% extends "books/base.html" %} 

{% block content_article %}

<div class="col-lg-12">
    <h1><a href="">List books</a></h1>
    {% if user.is_authenticated %}
    	<a href="{% url 'add_books' %}">Create new book</a>
	{% endif %}
</div>
<div class="col-md-8">
	<div class="content-article ">
	    	{% for book in books %}
	    	{{book}}
	    	{# {{request.user.username}}  #}
	    	{# {{book.author_post}} #}
	    		{# {% if book.is_no_draft == False and request.user.username == book.author_post %}  #}
	    		{# {% if book.is_no_draft == False and request.user.username == book.author_post %}  #}
	    			<article>
						<h4 class="article-header">{{ book.name }}</h4>
						usserrrrr {{request.user.username}}
						author post {{book.author_post}}
	    				{% if book.genresbooks %}
							<ul class="list-categoies">
								{% for genresbook in book.genresbooks.all %}
									<li>{{ genresbook }}</li>
								{% endfor %}
							</ul>
						{% endif %}
						draft {{ book.is_no_draft }}
						{% if book.image %}
						<img src="{{ MEDIA_URL }}{{ book.image }}" alt="thumb-1">
						{% endif %}
						{% if book.description %}
						<p class="description">{{ book.description }}</p>
						{% endif %}
			    	</article> 
	    		{# {% endif %} #}
			    
		    {% empty %}
		        <p>There are currently no comments. You can be first!</p>
		    {% endfor %}
	</div>
</div>

{% endblock %}
